@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:has(.menu[aria-expanded="true"]) .nav-links {
  display: block;
}


@layer base {
  html {
    @apply bg-slate-100 font-sans;
  }

  body {
    @apply mx-auto w-full max-w-[80ch] p-4 leading-relaxed;
  }

  h1 {
    @apply my-4 text-4xl;
  }
  a {
    @apply text-blue-700 hover:underline;
  }
}


@layer components {
  .nav-link {
    @apply block md:inline-block w-full 
    md:w-auto py-2.5 md:py-3.75 px-5 text-center 
    font-bold uppercase text-lg text-purple-900 
    no-underline hover:bg-purple-300  
    focus:bg-purple-300 transition;
  }
}
