@import "tailwindcss";


@layer base {
  html {
    @apply bg-slate-100 font-sans;
  }

  body {
    @apply mx-auto w-full max-w-[80ch] p-4 leading-relaxed;
  }

  h1 {
    @apply my-4 text-4xl;
  }
}
