---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap">
    {tags.map((tag) => (
      <p class="m-1 border border-dotted border-gray-400 rounded-lg px-4 py-2 text-lg bg-blue-50">
        <a href={`/tags/${tag}`} >
          {tag}
        </a>
      </p>
    ))}
  </div>
</BaseLayout>